@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* CodeMirror container */
.cm-editor {
  height: 100% !important;
}

.cm-scroller {
  overflow: auto !important;
}
